<div class="pokedex-view">
  <span class="title">POKÉDEX</span>
  <section class="pokedex">
      <div class="rectangle1">
          <div class="image-container">
              <app-pokedex 
                  [imageURL]="pokemonImagen" 
                  (pokemonId)="changePokemon($event)">
              </app-pokedex>
          </div>
          <div class="points-container">
              <span class="point"></span>
              <span class="point"></span>
          </div>
      </div>
      <div class="rectangle2">
          <app-grafico
              [id]="pokemonData.id"
              [nombrePokemon]="pokemonData.nombre"
              [tipoPokemon]="pokemonData.tipo"
              [vidaPokemon]="pokemonData.vida"
              [ataquePokemon]="pokemonData.ataque"
              [defensaPokemon]="pokemonData.defensa">
          </app-grafico>
      </div>
  </section>
</div>